---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">

        <h1>
            <a href="/" class="href">
                <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 mt-5">
        Shanty Clubs Australia
      </strong>
            </a>
        </h1>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        <h2 class="font-bold text-4xl">
            {{title}}
        </h2>
        <p class=" text-2xl text-gray-900 mb-3">{{ location }}</p>
        <a class="text-2xl text-gray-900 mb-3" href="{{website}}">{{ website }}</a>

        {{ content | safe }}</article>

</div>