---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

</div>

    <div class="columns-2">

        {% for club in collections.club %}

            {# <p class=" text-2xl text-gray-900 mb-3">
                <a href="{{ clubs.data.website | url }}">
                    {% if clubs.data.title %}
                        {{ clubs.data.title }}
                    {% else %}
                            Untitled
                        {% endif %}
                    <span>({{ clubs.data.state }})</span>
                </a>
            </p> #}
            <h2 class="font-bold text-4xl text-gray-900 mb-3">{{ clubs.data.title }}</h2>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.description }}</p>
            <a class="text-2xl text-gray-900 mb-3" href="{{clubs.data.website}}">{{ clubs.data.website }}</a>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.author }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.date }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.location }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.body }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.state }}</p>

        {% endfor %}
    </div>