---
layout: clublist
permalink: /clubs/
---

<section class="mt-15">
    <p class="subtitle my-10 ">Select a Club to view details</p>

    <div class="columns-2">

        {% for club in collections.club %}

            {# <p class=" text-2xl text-gray-900 mb-3">
                <a href="{{ clubs.data.website | url }}">
                    {% if clubs.data.title %}
                        {{ clubs.data.title }}
                    {% else %}
                            Untitled
                        {% endif %}
                    <span>({{ clubs.data.state }})</span>
                </a>
            </p> #}
            <h2 class="font-bold text-4xl text-gray-900 mb-3">{{ clubs.data.title }}</h2>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.description }}</p>
            <a class="text-2xl text-gray-900 mb-3" href="{{clubs.data.website}}">{{ clubs.data.website }}</a>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.author }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.date }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.location }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.body }}</p>
            <p class="text-2xl text-gray-900 mb-3">{{ clubs.data.state }}</p>

        {% endfor %}
    </div>


    <h2 class="font-bold text-3xl mb-6">ACT</h2>
    <div class="columns-2">
        {% for club in collections.club %}
            {% if club.data.state == "ACT" %}
                <p class=" text-2xl text-gray-900 mb-3">
                    <a href="{{ club.url | url }}">
                        {{ club.data.title }}
                    </a>
                </p>
            {% endif %}
        {% endfor %}
    </div>


    <h2 class="font-bold text-3xl mb-6">NSW</h2>
    <div class="columns-2">
        {% for club in collections.club %}
            {% if club.data.state == "NSW" %}
                <p class=" text-2xl text-gray-900 mb-3">
                    <a href="{{ club.website | url }}">
                        {{ club.data.title }}
                    </a>
                </p>
            {% endif %}
        {% endfor %}
    </div>

    <h2 class="font-bold text-3xl mb-6">VIC</h2>
    <div class="columns-2">
        {% for club in collections.club %}
            {% if club.data.state == "VIC" %}
                <p class=" text-2xl text-gray-900 mb-3">
                    <a href="{{ club.website | url }}">
                        {{ club.data.title }}
                    </a>
                </p>
            {% endif %}
        {% endfor %}
    </div>

</section> 

