---
layout: default
title: Shanty Clubs Australia
path: home
---

<div class=" mx-auto lg:h-screen justify-center items-center mt-5">
  <h1>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500 mt-5">
      {{title}}
    </strong>
  </h1>


  <div class="container max-w-4xl mt-6 px-6 pb-6">
      <article class="prose lg:prose-xl mx-auto">
          {% include "./_includes/partials/clubslist.html" %}
      </article>

  </div>
  

  {# {% for choir in quicklinks.links %}
      <a href="{{item.url}}" target="" class="p-5 border rounded border-gray-200 hover:border-purple-400">
          <h3>{{item.title}}
              →</h3>
          <p>{{item.desc}}</p>
      </a>
  {% endfor %} #}

</div> 