<div class="lg:columns-2 mt-6">

    <div class="mb-8">
        <h2 class="font-bold text-3xl">ACT</h2>
        {% for club in collections.club %}
            {% if club
                .data
                .tags
                .includes("ACT")
 %}
                <ul class="">
                    <li class="text-xl text-gray-900 my-1">
                        <a href="{{ club.url | url }}">
                            {{ club.data.title }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mb-8">
        <h2 class="font-bold text-3xl">NSW</h2>
        {% for club in collections.club %}
            {% if club
                .data
                .tags
                .includes("NSW")
 %}
                <ul class="">
                    <li class="text-xl text-gray-900 my-1">
                        <a href="{{ club.url | url }}">
                            {{ club.data.title }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mb-8">
        <h2 class="font-bold text-3xl">VIC</h2>
        {% for club in collections.club %}
            {% if club
                .data
                .tags
                .includes("VIC")
 %}
                <ul class="">
                    <li class="text-xl text-gray-900 my-1">
                        <a href="{{ club.url | url }}">
                            {{ club.data.title }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mb-8">
        <h2 class="font-bold text-3xl">WA</h2>
        {% for club in collections.club %}
            {% if club
                .data
                .tags
                .includes("WA") %}
                <ul class="">
                    <li class="text-xl text-gray-900 my-1">
                        <a href="{{ club.url | url }}">
                            {{ club.data.title }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mb-8">
        <h2 class="font-bold text-3xl">QLD</h2>
        {% for club in collections.club %}
            {% if club
                .data
                .tags
                .includes("QLD")
 %}
                <ul class="">
                    <li class="text-xl text-gray-900 my-1">
                        <a href="{{ club.url | url }}">
                            {{ club.data.title }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>

    <div class="mb-8">
        <h2 class="font-bold text-3xl">TAS</h2>
        {% for club in collections.club %}
            {% if club
                .data
                .tags
                .includes("TAS")
 %}
                <ul class="">
                    <li class="text-xl text-gray-900 my-1">
                        <a href="{{ club.url | url }}">
                            {{ club.data.title }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </div>
</div>